.box-item {
  width: 200px;
  height: 200px;
  font-size: 24px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.5s;
}

.box-item:hover {
  scale: 1.05;
}

.new::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #e07a64;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
}

.new-item {
  font-size: 18px;
}
