* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
}

.people img {
  border-radius: 50%;
  height: 197px;
  width: 197px;
  object-fit: cover;
}

.people {
  gap: 60px;
}
.workers {
  padding-top: 40px;
  color: #152d41;
  font-size: 36px;
  font-weight: 700;
}

.people-description {
  font-size: 18px;
}
.ppl-name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

.people:nth-of-type(even) {
  flex-direction: row-reverse;
}
.people:nth-of-type(even) .people-description {
  text-align: right;
}

.container-footer {
  width: 960px;
  margin: 0 auto;
}
.footer {
  height: 71px;
  background: #4e4e4e;
  justify-content: space-around;
  color: #fff;
  font-size: 18px;
}

.footer-flex {
  display: flex;
  height: 100%;
  padding-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.copyright {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.icons {
  display: flex;
  font-size: 31px;
}

.icons-item {
  margin-left: 15px;
}
